.about-section {
  display: flex;
  flex-direction: row;
  margin: 0% 15% 15% 15%;
  padding-bottom: 5%;
  border-bottom: 1px solid #333333;
}

.aboutme {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  margin: 10px 0px 40px;
  width: 100%;
  white-space: nowrap;
  justify-content: center;
}
.aboutme::after {
  content: "";
  display: block;
  position: relative;
  top: -5px;
  width: 30px;
  height: 1px;
  margin-left: 20px;
  background-color: #333333;
}

.aboutme::before {
  content: "";
  display: block;
  position: relative;
  top: -5px;
  width: 30px;
  height: 1px;
  margin-left: 0px;
  background-color: #333333;
  margin-right: 13px;
}
