.about-section {
  display: flex;
  flex-direction: row;
  margin: 15% 15% 15% 15%;
  padding-bottom: 5%;
  border-bottom: 1px solid #333333;
}

span,
.icons {
  font-size: 3rem;
}

/* span svg:hover {
  color: red;
  transform: scale(1.2);
} */
