.contact-form-wrapper {
  margin: 32px 0 32px 0;
  border-bottom: 1px solid #333333;
  padding-bottom: 20px;
}

.contact-container {
  max-width: 600px;
  margin: 0px auto 100px;
  text-align: center;
}

.contact-heading {
  color: #58595b;
}

#contact {
  padding-bottom: 100px;
}
