.intro-container {
  color: #fff;
  display: flex;
  margin: 15% 0% 15% 0%;
  width: 43.75rem;
  padding-left: 3.125rem;
  border-bottom: 1px solid #333333;
}

.intro-child {
  flex: 1;
}

.intro-child:first-child {
  margin-right: 1.25rem;
}

.header-container {
  display: flex;
}

.hero-text-small {
  color: #03b5aa;
}

.hero-text {
  font-size: clamp(2.5rem, 8vw, 5rem);
  color: #eae0cc;
}

.hero-text-sub {
  color: #58595b;
  font-size: clamp(2.5rem, 8vw, 5rem);
}

.background-image {
  display: flex;
  flex-direction: column;
  background-image: url("../images/stevo2.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 34.375rem;
  background-position-y: -4.75rem;
  height: 34.375rem;
  border-radius: 50%;
  margin-top: 12.5rem;
}

.totop-button {
  cursor: pointer;
  height: 2.1875rem;
  width: 2.1875rem;
  color: #fff;
  position: fixed;
  bottom: 0.625rem;
  right: 1.5625rem;
  bottom: 2.5rem;
  z-index: 99999;
  transform: translateX(0px);
  transition: right 0.5s ease-in-out;
}

.to-topbutton-icon {
  color: #58595b;
}

.socials-links {
  position: fixed;
  left: 1.5625rem;
  bottom: 0px;
  z-index: 6;
}

.socials-links::after {
  content: "";
  display: block;
  width: 1px;
  height: 3.75rem;
  margin: 0px auto;
  background-color: #58595b;
}

.social-links-icons {
  font-size: 1.375rem;
  color: #58595b;
}

.social-links-icons:hover,
.to-topbutton-icon:hover {
  color: #03b5aa;
}

/* --- Breakpoints for smaller devices --- */
/* small  laptops*/
@media only screen and (min-device-width: 1200px) and (max-device-width: 1600px) {
  .background-image {
    left: 23.125rem;
    position: relative;
  }
  .intro-container {
    width: auto;
    margin: 15% 15% 15% 15%;
  }

  .intro-child:first-child {
    margin-right: 0;
  }

  .header-container {
    display: block;
    padding-bottom: 5.625rem;
  }
}

/* ipad pro*/
@media only screen and (max-device-width: 1024px) {
  .background-image {
    left: 16.25rem;
    position: relative;
  }

  .intro-container {
    width: auto;
    margin: 15% 15% 15% 15%;
  }

  .intro-child:first-child {
    margin-right: 0;
  }

  .header-container {
    display: block;
  }
}
/* standard Ipad*/
@media only screen and (max-width: 768px) {
  .intro-container {
    width: auto;
    margin: 15% 15% 15% 15%;
  }

  .intro-child:first-child {
    margin-right: 0;
  }

  .header-container {
    display: block;
  }
  .background-image {
    width: 31.25rem;
    height: 31.25rem;
    position: relative;
    left: 8.75rem;
    bottom: 6.25rem;
  }
}

/* Iphone 6/7/8 SE*/
@media only screen and (min-width: 375px) and (max-width: 667px) {
  .intro-container {
    width: auto;
  }

  .header-container {
    display: block;
  }
  .background-image {
    width: 31.25rem;
    height: 31.25rem;
    position: relative;
    left: 2.5rem;
    bottom: 6.25rem;
  }
}
