.nav-main-list-items {
  list-style: none;
  text-decoration: none;
}

.nav-main-list-container {
  display: flex;
  position: relative;
  top: 0.5rem;
  padding-left: 0;
  align-items: center;
}

.nav-container {
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #0d1017;
  z-index: 10;
}

li a:hover {
  text-decoration: underline;
  color: #fafafa;
}
