html {
  scroll-padding-top: 100px;
}

body {
  margin: 0;
  font-family: "Calibre", "Inter", "San Francisco", -apple-system, system-ui,
    sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: fit-content;
}
::-webkit-scrollbar,
::-webkit-scrollbar-thumb {
  width: 0.75rem;
  background-color: #212733;
  border: 3px solid #0d1017;
  border-radius: 0.625rem;
}

.fz-sm {
  font-size: 0.875rem;
}

.fz-md {
  font-size: 1rem;
}

.fz-lg {
  font-size: 1.125rem;
}

.fz-xl {
  font-size: 1.25rem;
}

.fz-heading {
  font-size: 2rem;
}

@font-face {
  font-family: "Calibre";
  src: local("Calibre-Regular"),
    url("./fonts/Calibre/Calibre-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Calibre-sb";
  src: local("Calibre-Semibold"),
    url("./fonts/Calibre/Calibre-Semibold.ttf") format("truetype");
}

@font-face {
  font-family: "Calibre-md";
  src: local("Calibre-Medium"),
    url("./fonts/Calibre/Calibre-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Mono";
  src: local("SFMono-Regular"),
    url("./fonts/SFMono/SFMono-Regular.ttf") format("truetype");
}

.heading-color {
  color: #03b5aa;
  font-family: "Calibre", sans-serif;
}

.button-main {
  background-color: transparent;
  border: 1px solid #03b5aa;
  border-radius: 3px;
  padding: 1rem 1.35rem;
  font-size: 0.875rem;
  font-family: "Mono", sans-serif;
  font-weight: 500;
  line-height: 1;
  text-decoration: none;
  cursor: pointer;
  margin-top: 3.125rem;
}

ul .button-main {
  padding-top: 8px;
  padding-bottom: 4px;
  margin-top: 0;
  font-size: 0.8125rem;
  font-family: "Calibre", sans-serif;
  position: relative;
  left: 0.9375rem;
}

.button-main a {
  text-decoration: none;
  color: #fff;
}

.button-main a:hover {
  text-decoration: none;
  color: #03b5aa;
}

span svg {
  font-size: 2.5rem;
}
