body {
  margin: 0;
  font-family: "Calibre", "Inter", "San Francisco", "SF Pro Text", -apple-system,
    system-ui, sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: fit-content;
}

.fz-sm {
  font-size: 14px;
}

.fz-md {
  font-size: 16px;
}

.fz-lg {
  font-size: 18px;
}

.fz-xl {
  font-size: 20px;
}

.fz-heading {
  font-size: 32px;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */

@font-face {
  font-family: "Calibre";
  src: local("Calibre-Regular"),
    url("./fonts/Calibre/Calibre-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Calibre";
  src: local("Calibre-Semibold"),
    url("./fonts/Calibre/Calibre-Semibold.ttf") format("truetype");
}

@font-face {
  font-family: "Calibre";
  src: local("Calibre-Medium"),
    url("./fonts/Calibre/Calibre-Medium.ttf") format("truetype");
}
